@model ETicaret.Models.Index.IndexModel
@{
    ViewBag.Title = "Index Page title  ";
}

<div class="row">
    @foreach (var item in Model.Categories)
    {
        @Html.Partial("_Users", item);
    }
</div>