@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        @if (Session["LogonUser"] == null)
        {
            using (Html.BeginForm("LoginUser", "Login"))
            {
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h2>Login</h2>
                                <small>Please enter e-mail and password.</small>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <center>
                                        <img src="http://placehold.it/125x125" class="img-circle img-responsive" />
                                    </center>
                                </div>

                                <div class="form-group">
                                    @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Email", type = "email" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBox("Password", "", new { @class = "form-control", placeholder = "Şifre", type = "password" })
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <a href="#" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-asterisk"></span> Forgot Password
                                </a>
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            }
        }
        else
        {
            <strong>Hoşgeldiniz, @(((ETicaret.DB.Members)Session["LogonUser"]).Name)</strong>
        }
    </div>
</div>